<?xml version='1.0' encoding='windows-1252'?>
<!--
  The "cargo wix" subcommand provides a variety of predefined variables available
  for customization of this template. The values for each variable are set at
  installer creation time. The following variables are available:

  TargetTriple      = The rustc target triple name.
  TargetEnv         = The rustc target environment. This is typically either
                      "msvc" or "gnu" depending on the toolchain downloaded and
                      installed.
  TargetVendor      = The rustc target vendor. This is typically "pc", but Rust
                      does support other vendors, like "uwp".
  CargoTargetBinDir = The complete path to the binary (exe). The default would
                      be "target\release\<BINARY_NAME>.exe" where
                      "<BINARY_NAME>" is replaced with the name of each binary
                      target defined in the package's manifest (Cargo.toml). If
                      a different rustc target triple is used than the host,
                      i.e. cross-compiling, then the default path would be
                      "target\<CARGO_TARGET>\<CARGO_PROFILE>\<BINARY_NAME>.exe",
                      where "<CARGO_TARGET>" is replaced with the "CargoTarget"
                      variable value and "<CARGO_PROFILE>" is replaced with the
                      value from the `CargoProfile` variable.
  CargoTargetDir    = The path to the directory for the build artifacts, i.e.
                      "target".
  CargoProfile      = Either "debug" or `release` depending on the build
                      profile. The default is "release".
  Version           = The version for the installer. The default is the
                      "Major.Minor.Fix" semantic versioning number of the Rust
                      package.
-->

<!--
  Please do not remove these pre-processor If-Else blocks. These are used with
  the `cargo wix` subcommand to automatically determine the installation
  destination for 32-bit versus 64-bit installers. Removal of these lines will
  cause installation errors.
-->
<?if $(sys.BUILDARCH) = x64 or $(sys.BUILDARCH) = arm64 ?>
    <?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
<?else ?>
    <?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
<?endif ?>

<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>

    <Product
        Id='*'
        Name='IronPLC'
        UpgradeCode='7613207E-712D-4C6A-92B7-2BD0651C2CD8'
        Manufacturer='Garret Fick'
        Language='1033'
        Codepage='1252'
        Version='$(var.Version)'>

        <Package Id='*'
            Keywords='Installer'
            Description='IronPLC compiler.'
            Manufacturer='Garret Fick'
            InstallerVersion='450'
            Languages='1033'
            Compressed='yes'
            InstallScope='perMachine'
            SummaryCodepage='1252'
            />

        <MajorUpgrade
            Schedule='afterInstallInitialize'
            DowngradeErrorMessage='A newer version of [ProductName] is already installed. Setup will now exit.'/>

        <Media Id='1' Cabinet='media1.cab' EmbedCab='yes' DiskPrompt='CD-ROM #1'/>
        <Property Id='DiskPrompt' Value='IronPLC Installation'/>

        <Directory Id='TARGETDIR' Name='SourceDir'>
            <Directory Id='$(var.PlatformProgramFilesFolder)' Name='PFiles'>
                <Directory Id='APPLICATIONFOLDER' Name='ironplc'>
                    <Component Id='License' Guid='*'>
                        <File
                            Id='LicenseFile'
                            Name='LICENSE'
                            Source='plc2x\LICENSE'
                            KeyPath='yes'/>
                    </Component>
                    
                    <Directory Id='Bin' Name='bin'>
                        <Component Id='Path' Guid='0C052140-17A3-4C8D-93DD-5A330CA1C0D3' KeyPath='yes'>
                            <Environment
                                Id='PATH'
                                Name='PATH'
                                Value='[Bin]'
                                Permanent='no'
                                Part='last'
                                Action='set'
                                System='yes'/>
                        </Component>
                        <Component Id='Ironplcc' Guid='*'>
                            <File
                                Id='ironplcc'
                                Name='ironplcc.exe'
                                Source='$(var.CargoTargetBinDir)\ironplcc.exe'
                                KeyPath='yes'/>
                        </Component>
                        <Component Id="EnvironmentVars" 
                            Guid="{bba707a8-db7e-4a72-8273-89e2cb6891d4}"  
                            KeyPath="yes">
                            <Environment Id="ironplcEnvironmentVar"  
                                Name="IRONPLC" 
                                Value="[Bin]" 
                                Action="set" 
                                System="yes" />
                            </Component>
                    </Directory>

                    <Directory Id='Examples' Name='examples'>
                        <Component Id='GettingStartedExample' Guid='*'>
                            <File
                                Id='getting_started'
                                Name='getting_started.st'
                                Source='..\examples\getting_started.st'
                                KeyPath='yes'/>
                        </Component>
                    </Directory>
                </Directory>
            </Directory>
        </Directory>

        <Feature
            Id='Binaries'
            Title='Application'
            Description='Installs all binaries and documentation.'
            Level='1'
            ConfigurableDirectory='APPLICATIONFOLDER'
            AllowAdvertise='no'
            Display='expand'
            Absent='disallow'>

            <ComponentRef Id='License'/>
            <ComponentRef Id='Ironplcc'/>
            <ComponentRef Id='GettingStartedExample'/>
            <ComponentRef Id='EnvironmentVars'/>

            <Feature
                Id='Environment'
                Title='PATH Environment Variable'
                Description='Add location of [ProductName] executable to the PATH system environment variable so that it can be called from any location.'
                Level='1'
                Absent='allow'>
                <ComponentRef Id='Path'/>
            </Feature>
        </Feature>

        <SetProperty Id='ARPINSTALLLOCATION' Value='[APPLICATIONFOLDER]' After='CostFinalize'/>

        
        <Icon Id='ProductICO' SourceFile='wix\Product.ico'/>
        <Property Id='ARPPRODUCTICON' Value='ProductICO' />

        <Property Id='ARPHELPLINK' Value='https://www.ironplc.com'/>
        
        <UI>
            <UIRef Id='WixUI_FeatureTree'/>
        </UI>

        <WixVariable Id='WixUILicenseRtf' Value='wix\License.rtf'/>
        <WixVariable Id='WixUIBannerBmp' Value='wix\Banner.bmp'/>
        <WixVariable Id='WixUIDialogBmp' Value='wix\Dialog.bmp'/>

    </Product>

</Wix>
