[package]
name = "ironplc-dsl"
description = "Domain-specific language objects for IEC 61131 language elements."
version = "0.22.0"
edition.workspace = true
authors.workspace = true
license.workspace = true
repository.workspace = true

[badges]
maintenance = { status = "experimental" }

[dependencies]
time = "0.3.17"
ironplc-problems = { path = "../problems", version = "0.22.0" }

