name: Build and Test
on: [push]
jobs:
  ironplcc-tests:
    name: ironplcc Tests
    runs-on:  ${{ matrix.os }}
    defaults:
      run:
        working-directory: ./compiler
    strategy:
        matrix:
          os: [ubuntu-latest, windows-latest]
        fail-fast: false
    steps:
      - uses: actions/checkout@v3
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: rustfmt, clippy
      - uses: taiki-e/install-action@cargo-llvm-cov
      - uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: Rust tests
        run: cargo test --all-features

      - name: Standard Rust format check
        run: cargo fmt --all -- --check

      - name: Clippy format check
        run: cargo clippy

      - name: Coverage
        run: cargo llvm-cov --all-features --workspace --fail-under-lines 85 --show-missing-lines

  ironplcc-windows-installer:
    name: ironplcc Windows Installer
    runs-on: windows-latest
    defaults:
      run:
        working-directory: ./compiler
    steps:
      - uses: actions/checkout@v3
      - uses: actions-rust-lang/setup-rust-toolchain@v1

      - name: Install cargo-wix tool
        run: cargo install cargo-wix

      # Assumes the wix toolkit is available.
      - name: Create installer
        run: cargo wix -v --nocapture -o . -p ironplcc

